@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: BOARD STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/

@import "sass-common.scss";

/* 아코디언 게시판(자주하는 질문) */
.acd-bbs-box{
    width:100%;border-top: 2px solid #b2b2b2;
    li{
        border-bottom: 1px solid #e6e7e8;
        @include flex($d:column);
        @include font($s:16px,$c:#666);        
        &>button{
            @include font($s:16px);
            @include flex();
            width:100%;
            padding:28px 70px;position: relative;
            &::after{
                @include after(26px,15px);
                right: 40px;top: 50%;margin-top:-7px;
                background: url(../img/arrow_list_close.svg) center no-repeat;
                background-size: contain;
            }
            &.on::after{
                transform: rotate(180deg);
            }
            .ic-q{
                @include font($s:20px,$w:bold,$c:$p-color);
                margin-right: 80px;
            }
            .subject{
                @include flex();
            }
            &.on + .reply-box{
                max-height: 500px;
            }
        }
    }
    .reply-box{
        width:100%;
        background-color: #f8f9fb;border-top: 1px solid #e6e7e8;
        transition: max-height 0.3s;max-height:0;overflow: hidden;
        .con-box{
            padding:40px 70px 40px 168px;
        }
    }
    @include mobile(){        
        &>button{
            font-size: 14px;
            padding: 27px 40px 27px 20px;
            .ic-q{
                margin-right: 20px;
            }
            &::after{
                width:17px;height: 10px;right:20px
            }
        }
        .reply-box{
            .con-box{
                font-size: 14px;
                padding:20px 40px
            }
        }
    }
}

/* 리뷰 */
.review-bbs-box{
    .btn-box{
        text-align: right;margin-top: 40px;margin-bottom: 30px;
    }
    li{
        &.head{
            padding:18px 0;flex-direction: row;
        }
        &>button{padding-left:0;padding-right: 0;}
    }
    .colbox{
        flex-shrink: 0;display: inline-block;text-align:center;
        &.box-1{width:10%}
        &.box-2{flex:1}
        &.box-3{width:15%}
        &.box-4{width:13%}
        &.box-5{width:12%}
    }
    .subject{
        padding-left: 20px;
        img{margin-right: 50px;}
    }
    .reply-box{
        .con-box{
            padding-left: 120px;
            .btn-box{
                @include flex($j:flex-end);
            }
            .btn-basic{
                border-color: #666;width:100px;
                @include lastMr0(6px);
            }
            img{margin: 0 5px;}
        }
    }
}
/* 리뷰(포토) 레이어팝업 */
.review-photo-layer{
    position: fixed;left: 50%;top: 50%;
    width: 720px;height: 560px;z-index: 500;
    margin-top: -280px;margin-left:-360px;
    .reivew-photo-box{
        
    }
}


/* 페이지 */
.com-page-box{
    margin:30px 0;
    @include flex($j:center);
    button{
        @include flex($j:center);
        width:40px;height: 40px;
        font-size:16px;margin:0 7px;color:#666;
        &.on{
            background-color: $p-color;color: #fff;
        }
        &.first{
            background: url(../img/arrow_paging_before2.svg) center no-repeat;
            background-size: 16px auto;
        }
        &.prev{
            background: url(../img/arrow_paging_before.svg) center no-repeat;
            background-size: 11px auto;
        }
        &.next{
            background: url(../img/arrow_paging_before.svg) center no-repeat;
            background-size: 11px auto;
            transform: rotate(180deg);
        }
        &.last{
            background: url(../img/arrow_paging_before2.svg) center no-repeat;
            background-size: 16px auto;
            transform: rotate(180deg);
        }
    }
}