@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: COMMON STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/
.com-tab-box .tab-content {
  display: none; }

/* 인풋 */
.mobile-img,
.mo-el {
  display: none !important; }

@media all and (max-width: 640px) {
  .pc-img,
  .pc-el {
    display: none !important; }
  .mobile-img,
  .mo-el {
    display: block !important; } }

.fon-p-color {
  color: #ed174d !important; }

h2.sub-h2 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-top: 90px;
  margin-bottom: 80px;
  text-align: center; }

h3.big-h3 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px; }

.li-style1 li {
  padding-left: 11px;
  position: relative;
  margin-bottom: 7px; }

.li-style1 li:last-child {
  margin-bottom: 0; }

.li-style1 li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 9px;
  background-color: #d5d5d5; }

p.line-30 {
  margin: 7px 0; }

/* 레이업팝업 */
.com-layer-style1 {
  position: absolute;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  z-index: 50;
  background-color: #fff;
  border: solid 2px #d5d5d5;
  padding: 20px 40px 15px 15px; }

.com-layer-style1 .btn-close {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: url(../img/icon_popup_close.svg) center no-repeat; }

/* 탭스타일 */
.tab-style-1 .tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px; }

.tab-style-1 .tab-list li {
  width: 260px;
  margin-right: 10px; }

.tab-style-1 .tab-list li:last-child {
  margin-right: 0; }

.tab-style-1 .tab-list li button {
  font-size: 22px;
  font-weight: bold;
  color: #666;
  padding-bottom: 45px;
  position: relative;
  width: 100%; }

.tab-style-1 .tab-list li button.on {
  color: #ed174d; }

.tab-style-1 .tab-list li button::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: 14px;
  border-radius: 7px;
  background-color: #d5d5d5; }

.tab-style-1 .tab-list li button.on::before {
  background-color: #ed174d; }

.tab-style-1 .tab-list li button.on::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #ed174d; }

/* 기본 테이블 */
.th-left tbody th {
  text-align: left; }

.td-left tbody td {
  text-align: left; }

.td-center tbody td,
.th-center tbody th {
  text-align: center; }

.td-left2 tbody th + td,
.td-left2 tbody tr td:first-child {
  text-align: left; }

/* th 다음에 오는 td만 왼쪽정렬 */
.td-left2 tbody td[rowspan] + td {
  text-align: left; }

.td-left3 tbody tr td:first-child + td {
  text-align: left; }

.td-right tbody td,
.td-right tfoot td {
  text-align: right; }

.tbl-basic th,
.tbl-basic td {
  border: 0; }

.tbl-basic {
  width: 100%;
  border-spacing: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d5d5d5;
  border-collapse: collapse; }

.tbl-basic tr {
  text-align: center; }

.tbl-basic thead th {
  padding: 10px 0;
  color: #333;
  line-height: 18px;
  background: #d5d5d5;
  border-bottom: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5; }

.tbl-basic thead th:first-child {
  border-left: 0; }

.tbl-basic thead tr th.fnone {
  border-left: 0 !important; }

.tbl-basic thead th[colspan] {
  border-bottom: 1px solid #a5a5a5; }

/* th가 두줄이상으로 합쳐질때 border-bottom 값 */
.tbl-basic thead th[rowspan] {
  border-right: 1px solid #a5a5a5; }

/* th가 두줄이상으로 합쳐질때 border-right 값 */
.tbl-basic thead th[rowspan]:last-child {
  border-right: 0; }

.tbl-basic thead th.none {
  border-bottom: 1px solid #a5a5a5; }

/* th가 한줄일때 class추가 */
.tbl-basic tbody th {
  padding: 10px;
  font-weight: bold;
  background: #fafafa;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.tbl-basic tbody th:first-child {
  border-left: 0; }

.tbl-basic tbody th[rowspan] {
  border-right: 1px solid #d5d5d5; }

.tbl-basic tbody tr:first-child th,
.tbl-basic tbody tr:first-child td {
  border-top: 1px solid #d5d5d5; }

.tbl-basic tbody td {
  padding: 10px;
  background: #fff;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.tbl-basic tbody td:first-child {
  border-left: 0; }

.tbl-basic tbody td[rowspan] {
  border-right: 1px solid #d5d5d5; }

.tbl-basic tbody td[rowspan]:last-child {
  border-right: 0; }

.tbl-basic tbody td + th {
  border-left: 1px solid #d5d5d5; }

.tbl-basic tfoot th {
  padding: 10px 5px;
  background: #fafafa;
  border-right: 1px solid #d5d5d5; }

.tbl-basic tfoot td {
  padding: 10px 5px;
  border-left: 1px solid #d5d5d5; }

.tbl-basic tfoot td[colspan] {
  border-left: 0; }

.tbl-basic tbody th.line,
.tbl-basic tbody td.line,
.tbl-basic tbody tr.line td,
.tbl-basic tbody tr.line th {
  border-bottom: 1px dashed #d5d5d5; }

.tbl-basic thead tr th.h-line,
.tbl-basic tbody th.h-line {
  border-left: 1px solid #d5d5d5; }

.tbl-basic tr.bg th,
.tbl-basic tr.bg td,
.tbl-basic th.bg,
.tbl-basic td.bg {
  background: #f6f6f6 !important; }

.thead-bg thead th {
  background: #fafafa; }

.tbl-basic.no-bd tbody td,
.tbl-basic.no-bd tbody th,
.tbl-basic.no-bd thead td,
.tbl-basic.no-bd thead th {
  border-left: none;
  border-right: none; }

.tbl-style1 td,
.tbl-style1 th {
  border: 0;
  height: 30px;
  text-align: center; }

.tbl-style1 th {
  background-color: #f2f2f2; }

.tbl-style1 thead th {
  color: #333; }

.tbl-style1 thead .p-color-bg {
  background-color: #ed174d;
  color: #fff;
  font-weight: bold; }

.tbl-style1 tbody th {
  font-weight: normal; }

.tbl-style1 tbody th,
.tbl-style1 tbody td {
  border-bottom: 1px solid #e2e2e2; }

/* 인풋 커스텀 */
input[type="text"], input[type="number"] {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  border-width: 1px;
  background-color: #fff; }

input[type="text"]::placeholder, input[type="number"]::placeholder {
  color: #999; }

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0; }

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d5d5d5;
  border-width: 2px;
  background-color: #fff; }

input[type="checkbox"]:checked + label {
  background: #ed174d url(../img/icon_check_on.svg) center no-repeat;
  background-size: 80% auto; }

@media all and (max-width: 640px) {
  h2.sub-h2 {
    margin: 35px 0; }
  h3.big-h3 {
    font-size: 24px;
    margin-bottom: 30px; }
  .tab-style-1 .tab-list {
    margin-bottom: 35px; }
  .tab-style-1 .tab-list li button {
    font-size: 16px;
    padding-bottom: 32px; } }
