@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: COMMON STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/

@import "sass-common.scss";

.mobile-img,.mo-el {
  display: none;
}

@media all and (max-width: 640px) {
  .pc-img,.pc-el {
    display: none;
  }
  .mobile-img,.mo-el {
    display: block;
  }
}

.fon-p-color{color: $p-color !important;}


/* 기본 테이블 */
.th-left tbody th{text-align:left}
.td-left tbody td{text-align:left}
.td-center tbody td,
.th-center tbody th{text-align:center}
.td-left2 tbody th+td,.td-left2 tbody tr td:first-child{text-align:left}/* th 다음에 오는 td만 왼쪽정렬 */
.td-left2 tbody td[rowspan]+td{text-align:left}
.td-left3 tbody tr td:first-child + td{text-align:left}
.td-right tbody td,.td-right tfoot td{text-align:right}
.tbl-basic th,.tbl-basic td{border:0}
.tbl-basic {width:100%;border-spacing:0;border-left:0;border-right:0;border-bottom:1px solid #d5d5d5;border-collapse: collapse}
.tbl-basic tr { text-align: center; }
.tbl-basic thead th{padding:10px 0;color:#333;line-height:18px;background:#d5d5d5;border-bottom:1px solid #a5a5a5;border-left:1px solid #a5a5a5}
.tbl-basic thead th:first-child{border-left:0}
.tbl-basic thead tr th.fnone{border-left:0 !important}
.tbl-basic thead th[colspan]{border-bottom:1px solid #a5a5a5}/* th가 두줄이상으로 합쳐질때 border-bottom 값 */
.tbl-basic thead th[rowspan]{border-right:1px solid #a5a5a5}/* th가 두줄이상으로 합쳐질때 border-right 값 */
.tbl-basic thead th[rowspan]:last-child{border-right:0}
.tbl-basic thead th.none{border-bottom:1px solid #a5a5a5}/* th가 한줄일때 class추가 */
.tbl-basic tbody th{padding:10px;font-weight:bold;background:#fafafa;border-left:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
.tbl-basic tbody th:first-child{border-left:0}
.tbl-basic tbody th[rowspan]{border-right:1px solid #d5d5d5}
.tbl-basic tbody tr:first-child th,.tbl-basic tbody tr:first-child td{border-top:1px solid #d5d5d5}
.tbl-basic tbody td{padding:10px;background:#fff;border-left:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
.tbl-basic tbody td:first-child{border-left:0}
.tbl-basic tbody td[rowspan]{border-right:1px solid #d5d5d5}
.tbl-basic tbody td[rowspan]:last-child{border-right:0}
.tbl-basic tbody td+th{border-left:1px solid #d5d5d5}
.tbl-basic tfoot th{padding:10px 5px;background:#fafafa;border-right:1px solid #d5d5d5}
.tbl-basic tfoot td{padding:10px 5px;border-left:1px solid #d5d5d5}
.tbl-basic tfoot td[colspan]{border-left:0}
.tbl-basic tbody th.line,.tbl-basic tbody td.line,.tbl-basic tbody tr.line td,.tbl-basic tbody tr.line th{border-bottom:1px dashed #d5d5d5}
.tbl-basic thead tr th.h-line,.tbl-basic tbody th.h-line{border-left:1px solid #d5d5d5}
.tbl-basic tr.bg th,.tbl-basic tr.bg td,.tbl-basic th.bg,.tbl-basic td.bg{background:#f6f6f6 !important}
.thead-bg thead th{background:#fafafa}

.tbl-basic.no-bd{
    tbody,thead{
        td,th{
            border-left:none;border-right: none;
        }
    }
}


/* 인풋 커스텀 */
input{
  &[type=text],
  &[type=number]{
      @include input-text();
  }
  &[type=checkbox]{
      @include input-check();
  }
}
