@charset "utf-8";

/*
=========================================================================
/* Name: 헬로비전
/* PART: LAYOUT STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/

@import "sass-common.scss";

body,#wrapper,#container,#footer{width: 100%;position: relative;}
.content-box{width:1100px;margin: 0 auto;}

/* 상단영역 */
#header{
    height: 100px;
    border-bottom: 1px solid #e2e2e2;
}
.gnb-wrap{
    height: 100%;    
    @include flex(space-between,center,row);
}
.gnb{
    @include flex();
    li{
        margin-right: 46px;
        a{
            font-size: 18px;
            font-weight: bold;
        }
    }
}


/* 하단영역 */
#footer{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    padding: 35px 40px;
    .footer-link{
        margin-bottom: 40px;
        li{
            margin-right: 48px;position: relative;
        }
        @include flex();
        li:first-child::after{
            @include after(1px,18px);
            right:-25px;top:2px;
            background: #d5d5d5;
        }        
    }
    .footer-box{
        @include flex(space-between,flex-start,row);
        margin-bottom: 35px;
        .txt-box{
            .left{
                margin-right: 60px;
            }
            @include flex($a:flex-start);
            dl{
                @include flex($a:flex-start);
            }
            dt{color: #666;width:90px;margin-right: 25px;}
            dd{color: #999;}
        }
    }
    .cs-center-box{
        @include flex(center,flex-start,row);
        .foot-logo{
            width:235px;margin-bottom: 58px;
        }
        .cs-center{
            margin-top: -50px;
            @include flex($j:flex-start,$a:center,$d:column)
            h3{font-size:18px;color: #666;}
            p{  
                @include font($s:45px,$w:bold,$c:$p-color);
            }
        }
    }
    .copyright{color: #999;}
}
