@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: LAYOUT STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/
.com-tab-box .tab-content {
  display: none; }

/* 인풋 */
body,
#wrapper,
#container,
#footer {
  width: 100%;
  position: relative; }

.content-box {
  width: 1100px;
  margin: 0 auto; }

/* 상단영역 */
#header {
  height: 100px;
  border-bottom: 1px solid #e2e2e2; }

.gnb-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.gnb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.gnb li {
  margin-right: 46px; }

.gnb li a {
  font-size: 18px;
  font-weight: bold; }

/* 하단영역 */
#footer {
  width: 100%;
  border-top: 1px solid #e4e4e4;
  padding-top: 35px; }

#footer .footer-link {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

#footer .footer-link li {
  position: relative;
  margin-right: 48px; }

#footer .footer-link li:last-child {
  margin-right: 0; }

#footer .footer-link li:first-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 18px;
  right: -25px;
  top: 2px;
  background: #d5d5d5; }

#footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 35px; }

#footer .footer-box .txt-box .flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

#footer .footer-box .txt-box .left {
  margin-right: 60px;
  display: inline-block; }

#footer .footer-box .txt-box dl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

#footer .footer-box .txt-box dt {
  color: #666;
  width: 90px;
  margin-right: 25px; }

#footer .footer-box .txt-box dd {
  color: #999; }

#footer .footer-box .txt-box .copyright {
  color: #999;
  margin-top: 35px; }

#footer .cs-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px; }

#footer .cs-center-box .foot-logo {
  width: 235px;
  display: inline-block;
  margin-bottom: 35px; }

#footer .cs-center-box .cs-center {
  border-radius: 20px;
  background-color: #fff5f5;
  padding: 20px 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

#footer .cs-center-box .cs-center h3 {
  font-size: 18px;
  color: #666; }

#footer .cs-center-box .cs-center p {
  font-size: 45px;
  font-weight: bold;
  color: #ed174d; }

@media all and (max-width: 640px) {
  #wrapper {
    width: 100%;
    overflow: hidden; }
  #header {
    height: auto; }
  .content-box {
    width: 100%;
    padding: 0 20px; }
  .gnb-wrap {
    position: relative;
    flex-direction: column; }
  .gnb-wrap .logo-box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .gnb-wrap .logo-box .top-logo .mobile-img {
    width: 141px; }
  .gnb-wrap::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 60px;
    background-color: #e5e5e5; }
  #gnb-box {
    height: 50px;
    width: calc(100% + 40px); }
  #gnb-box ul {
    height: 100%;
    width: 100%;
    overflow-x: auto; }
  #gnb-box ul li {
    margin-right: 30px; }
  #gnb-box ul li:first-child {
    margin-left: 20px; }
  #gnb-box ul a {
    font-size: 14px;
    font-weight: normal; } }
