$p-color: #ed174d;  //포인트컬러
$fon-size: 14px; // 기본 폰트사이즈
$fon-color:#666; //기본 폰트색상
$bd-color:#e2e2e2; //보더컬러

.com-tab-box .tab-content{display: none;}


@mixin flex($j:flex-start,$a:center,$d:row
) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
}

@mixin after($width,$height){
    content: "";
    display: inline-block;
    position: absolute;
    width: $width;
    height: $height;
}
@mixin before($width,$height){
    content: "";
    display: inline-block;
    position: absolute;
    width: $width;
    height: $height;
}

@mixin font(
    $s:$fon-size,
    $w:normal,
    $c:$fon-color
) {
    font-size: $s;font-weight: $w;color: $c;
}

@mixin h2 {
    font-size: 30px;margin-bottom: 50px;line-height: 1;color: #000; text-align: center;
}
    
@mixin lastMr0($margin) {
    margin-right: $margin;
    &:last-child{
        margin-right: 0;
    }
}

